

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff8e8;
}

header{
    background-color: #FCD581;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

section{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
}
.wrap_border{
    width: auto;
    height: 50vh;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.place{
    width: 100px;
}

.border{
    width: 40vh;
    height: 40vh;
    background-color: #D52941;
    border-radius: 50% 50% 50% 20%;
}

#board{
    width: 40vh;
    height: 10vh;
    background-color: #990D35;
    color: #fff8e8 ;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 10px;
}
